<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.secuso.privacyfriendlyminesweeper">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:allowBackup="false"
        android:name=".PFMinesweeperApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.secuso.privacyfriendlyminesweeper.activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyminesweeper.activities.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyminesweeper.activities.GameActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyminesweeper.activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="org.secuso.privacyfriendlyminesweeper.activities.GameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyminesweeper.activities.GameActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyminesweeper.activities.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="org.secuso.privacyfriendlyminesweeper.activities.GameActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyminesweeper.activities.GameActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyminesweeper.activities.GameActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyminesweeper.activities.PlayActivity"
            android:parentActivityName="org.secuso.privacyfriendlyminesweeper.activities.GameActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyminesweeper.activities.GameActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyminesweeper.activities.SavedGamesActivity"
            android:label="@string/continueSavedGame"
            android:parentActivityName="org.secuso.privacyfriendlyminesweeper.activities.GameActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyminesweeper.activities.GameActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyminesweeper.activities.StatisticsActivity"
            android:label="@string/action_statistics"
            android:parentActivityName="org.secuso.privacyfriendlyminesweeper.activities.GameActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyminesweeper.activities.GameActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyminesweeper.activities.VictoryScreen"
            android:label="@string/action_end"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="org.secuso.privacyfriendlyminesweeper.activities.PlayActivity"
            android:theme="@style/AppTheme.Popup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyminesweeper.activities.PlayActivity" />
        </activity>

        <service
            android:name=".backup.PFABackupService"
            android:enabled="true"
            android:exported="true"
            android:process=":backup"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.secuso.privacyfriendlybackup.api.pfa.PFAAuthService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>